<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>à la mode</h1>
    <p>à la mode is a digital magazine created specifically for the iPad</p>
    <hr class="space">
    <%= image_tag "alamode-cover.png", class: "img-responsive" %>
    <hr class="space">

    <h2>Selected Process</h2>
    <h3>Learning the landscape</h3>
    <p>
      The first stage was to conduct a competitive analysis of the eMagazine space, and more specifically to look
       at current eMagazines that are food-related. We found that many current eMagazines out there had extremely 
       cluttered layouts, which is something that we wanted to avoid.
    </p>

    <h3>Determining the Target Users</h3>
    <p>
      To help understand who we were designing for, we created 2 personas. Deborah knows how to cook, but she is not very technology 
      savvy. Our second persona on the other hand is tech-savvy, but needs help learning how to cook. We wanted our app to cater 
      to both types of people.
    </p>
    <hr class="space">

    <%= image_tag "alamode-persona.png", class: "img-responsive" %>

    <h3>Creating a Design Language</h3>
    <p>
      We created a moodboard to help understand how we wanted the magazine to feel. 
      It was extremely helpful in getting to our end color pallette.
    </p>

    <hr class="space">
    <%= image_tag "alamode-moodboard.png", class: "img-responsive" %>

    <h3>Iteration to the Final Design</h3>
    <p>
      We iterated on our designs a number of times, starting with paper sketches of different layouts then moving to digital versions. 
    </p>

    <%= image_tag "alamode-outline.png", class: "img-responsive" %>
    <hr class="space">
    <%= image_tag "alamode-page.png", class: "img-responsive" %>


    <hr class="space">
    <div class="small">
      <h6>Project Details</h6>
      <p>Date: Fall 2011</p>
      <p>Class: Interaction Design Fundamentals</p>
      <p>Team: Aditya Gujaran, Kyle Libby, Kelsey Lee</p>
      <p>Skills:</p>
    </div>

  </div>
</div>