<div class="row">
  <div class="col-sm-9">

    <p>Hey I'm Jordy.</p>
    <p>I'm a UX designer working at <%= link_to "SecondMarket", "http://secondmarket.com" %> in NYC.</p>
    <p> I was born and raised in Toronto, Canada. Just before living in NYC I graduated in August 2012 with a Masters degree in Human-Computer Interaction from Carnegie Mellon University.</p>
    <p>I enjoy working on the whole UX process from User Research to Prototyping and Usability Testing and am always looking to learn.</p>
    <p>Feel free to <%= mail_to "jayzed@gmail.com", "email me" %> or connect with me on <%= link_to "LinkedIn", "http://www.linkedin.com/profile/view?id=143149437" %>.</p>

    <h3>About this portfolio</h3>
    <p>
      This portfolio was built by me in Ruby on Rails <%= link_to "(Github Project)", "https://github.com/jayzed/portfolio" %> and deployed using <%= link_to "Heroku", "http://www.heroku.com" %>.
      It uses the responsive <%= link_to "Bootstrap", "http://www.getbootstrap.com" %> framework, <%= link_to "Font Awesome", "http://fortawesome.github.io/Font-Awesome/" %>,
      and <%= link_to "Sass", "http://sass-lang.com/" %>.

    </p>
 
<!-- 
    <div>Most Recent Commit: <%= latest_commit_message %></div>
    <div>Commit Date: <%= latest_commit_date %></div>

 -->  </div>

  <div class="col-sm-3">
    <%= image_tag "me.jpg", class: "img-responsive" %>
  </div>

</div>
