<div class="row">
  <!-- First Column -->
  <div class="portfolio-item">
    <%= link_to image_tag("secondmarket-logo.png", class: "img-responsive"), secondmarket_path %>
    <%= link_to "SecondMarket", secondmarket_path, class: 'portfolio-item-title' %>
    <div class="portfolio-item-description">Simplifying Investments</div>
  </div>
  <!-- End First Column -->

  <!-- Second Column -->
  <div class="portfolio-item">
    <%= link_to image_tag("frontier-logo.png", class: "img-responsive"), frontier_path %>
    <%= link_to "Frontier", frontier_path, class: 'portfolio-item-title' %>
    <div class="portfolio-item-description">Bank of America Capstone Project</div>
  </div>
  <!-- End Second Column -->

  <!-- Third Column -->
  <div class="portfolio-item">
    <%= link_to image_tag("http://placehold.it/360x200", class: "img-responsive"), portfolio_path %>
    <%= link_to "Portfolio", portfolio_path, class: 'portfolio-item-title' %>
    <div class="portfolio-item-description">Description</div>
  </div>
  <!-- End Third Column -->
</div>

<div class="row">
  <!-- First Column -->
  <div class="portfolio-item">
    <%= link_to image_tag("divvy-logo.png", class: "img-responsive"), divvy_path %>
    <%= link_to "Divvy", divvy_path, class: 'portfolio-item-title' %>
    <div class="portfolio-item-description">iPhone App for Carpools</div>
  </div>
  <!-- End First Column -->

  <!-- Second Column -->
  <div class="portfolio-item">
    <%= link_to image_tag("statusphere-logo.png", class: "img-responsive"), statusphere_path %>
    <%= link_to "Statusphere", statusphere_path, class: 'portfolio-item-title' %>
    <div class="portfolio-item-description">Colorful orbs to display your status in a coffee shop</div>
  </div>
  <!-- End Second Column -->

  <!-- Third Column -->
  <div class="portfolio-item">
    <%= link_to image_tag("http://placehold.it/360x200", class: "img-responsive"), scout_path %>
    <%= link_to "Scout", scout_path, class: 'portfolio-item-title' %>
    <div class="portfolio-item-description">People discovery application for conferences</div>
  </div>
  <!-- End Third Column -->
</div>

<div class="row">
  <!-- First Column -->
  <div class="portfolio-item">
    <%= link_to image_tag("http://placehold.it/360x200", class: "img-responsive"), alamode_path %>
    <%= link_to "a la mode", alamode_path, class: 'portfolio-item-title' %>
    <div class="portfolio-item-description">Desert Magazine</div>
  </div>
  <!-- End First Column -->

  <!-- Second Column -->
  <div class="portfolio-item">
    <%= link_to image_tag("http://placehold.it/360x200", class: "img-responsive"), planit_path %>
    <%= link_to "Plan it", planit_path, class: 'portfolio-item-title' %>
    <div class="portfolio-item-description">Dinner Planning Application</div>
  </div>
  <!-- End Second Column -->

  <!-- Third Column -->
  
  <!-- End Third Column -->
</div>


