<div class="row">

  <div class="portfolio-item">
    <%= link_to image_tag("secondmarket-logo.png", class: "img-responsive"), secondmarket_path %>
    <%= link_to "SecondMarket", secondmarket_path, class: 'portfolio-item-title' %>
    <div class="portfolio-item-description">Simplifying Investments</div>
  </div>

</div>

<div class="row">

  <div class="portfolio-item">
    <%= link_to image_tag("frontier-logo.png", class: "img-responsive"), frontier_path %>
    <%= link_to "Frontier", frontier_path, class: 'portfolio-item-title' %>
    <div class="portfolio-item-description">Bank of America Capstone Project</div>
  </div>


  <div class="portfolio-item">
    <%= link_to image_tag("divvy-logo.png", class: "img-responsive"), divvy_path %>
    <%= link_to "Divvy", divvy_path, class: 'portfolio-item-title' %>
    <div class="portfolio-item-description">iPhone App for Carpools</div>
  </div>

  <div class="portfolio-item">
    <%= link_to image_tag("statusphere-logo.png", class: "img-responsive"), statusphere_path %>
    <%= link_to "Statusphere", statusphere_path, class: 'portfolio-item-title' %>
    <div class="portfolio-item-description">Colorful orbs to display your status in a coffee shop</div>
  </div>

</div>

<div class="row">
   <div class="portfolio-item">
    <%= link_to image_tag("scout-logo.png", class: "img-responsive"), scout_path %>
    <%= link_to "Scout", scout_path, class: 'portfolio-item-title' %>
    <div class="portfolio-item-description">People discovery application for conferences</div>
  </div>

  <div class="portfolio-item">
    <%= link_to image_tag("alamode-logo.png", class: "img-responsive"), alamode_path %>
    <%= link_to "à la mode", alamode_path, class: 'portfolio-item-title' %>
    <div class="portfolio-item-description">Desert Magazine</div>
  </div>

  <div class="portfolio-item">
    <%= link_to image_tag("planit-logo.png", class: "img-responsive"), planit_path %>
    <%= link_to "Plan it", planit_path, class: 'portfolio-item-title' %>
    <div class="portfolio-item-description">Dinner Planning Application</div>
  </div>

</div>


