<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>Scout</h1>
    <p>A people discovery application for professionals at meetings and conferences.</p>
    
    <h2>Selected Process</h2>    
    <p>
      The goal of this class was slightly different than others in the MHCI program. While most classes were focused on 
      specifically user-centered design, this one was focused on how to identify and create value within an ecosystem.
      The main motivation behind the class was by assessing potential value first, you are more likely to create something
      that people would want to use and would pay for.
    </p>

    <h3>Brainstorming</h3>
    <p>
      We spent a lot of time brainstorming different areas to focus on. At the time we were all looking for jobs
      and weren't having great experiences at job fairs so we decided to focus on that space. We created a value diagram to see how money flows and where our app would fit in.
      We feld that there was an opportunity to help candidates find jobs at job fairs.
    </p>

    <%= image_tag "scout-value-diagram.png", class: "img-responsive" %>
    <hr class="space">

    <h3>User Research</h3>
    <p>
      From our experience we knew that job fairs are inefficient because it's usually very busy and it's not always 
      clear exactly what companies are looking for.
      We interviewed recruiters and students at a job fair to better understand what problems they were having. 
    </p>

    <p>
      From recruiters we found an interesting dichotomy at job fairs; One one hand the startups had trouble attracting students because 
      they are not as well known, and on the other hand some of the large companies were only looking for interns and not full time employees.
      From students we learned that they wanted more information; it was awkward approaching unknown companies, and recruiters were not knowledgeable about every position.
      From this research we found that there was an opportunity in the space to help connect students and companies, and created personas
      to exemplify our target users.
    </p>

    <h3>Competitive Analysis</h3>
    <p>
      To better understand the products that were currently available, we conducted a competitive analysis to see where potential gaps were.
    </p>

    <%= image_tag "scout-competitive-analysis.png", class: "img-responsive" %>
    <hr class="space">
    <%= image_tag "scout-opportunity.png", class: "img-responsive" %>
    <hr class="space">
    <%= image_tag "scout-persona.png", class: "img-responsive" %>

    <h3>Wireframing</h3>
    <p>
      We took all of our research findings and created wireframes of the potential mobile app. We envisioned an app that you could use at job fairs
      and conferences where if you login and register, it would pull information from LinkedIn about all the people who are at the conference, and then
      show you the people nearby with their background. This way job seekers would have more information to start a conversation and would know more information
      about who at the job fair is looking for what in particular.
    </p>

    <%= image_tag "scout-screenshot.png", class: "img-responsive" %>

    <hr class="space">
    <div class="small">
      <h5><strong>Project Details</strong></h5>
      <div>Date: Spring 2012</div>
      <div>Client: Designing Mobile Services</div>
      <div>Team: Brittany Hamtil, Faye Han, Linda Le and Eli Rosen </div>
      <div>Skills: User Research, Value Diagrams, Competitive Analysis, Personas, Scenarios, Use Cases, Wireframing</div>
    </div>

  </div>
</div>