<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>SecondMarket Homepage Redesign</h1>
    <%= link_to "SecondMarket", "https://www.secondmarket.com", class: "small" %>
    
    <h2>Background</h2>
    <p>
      From October 2013 to February 2014 we went through a homepage redesign process at SecondMarket.
      We noticed that for some time, people outside to the company didn't have a clear understanding of what we do,
      leading to a lot of poor sales leads. The goal of the redesign was to make it really clear what SecondMarket does.
    </p>

    <h2>My Role</h2>
    <p>
      I was the lead UX designer on project and helped drive the process from beginning to end.
      I worked very closely with the product manager, the VP of technology, and the Director of Marketing. For the final version 
      of the website we had help from a great UX and visual designer, <%= link_to "Jacob Koesterich", "http://www.yaaki.com" %>.
    </p>

    <h2>Selected Process</h2>

    <h3>Initial Research</h3>
    <p>
      At the beginning of the project we thought of a few different ways to organize the site, but we wanted to get more
      clarity around which direction we wanted to go in before starting the design. We conducted several interviews with key
      stakeholders within the company to get their feedback.
    </p>

    <p>
      We also wanted to get an understanding of what external people thought when visiting the site. We set up about a dozen
      remote usability testing sessions using <%= link_to "usertesting.com", "http://www.usertesting.com" %>. This really helped us understand where the issues were.
    </p>


    <h3>Picking a Direction</h3>
    <p>
      Once the inital research was completed, we had a meeting with all the key stakeholders to discuss the results. As a result of 
      this meeting, we were able to come to an agreement on which direction to go in.
    </p>

    <h3>Wireframing and Prototyping</h3>
    <p>
      Once we had a clear direction, I started mapping out the Information Architecture of the site and created multiple wireframes
      with Axure of potential layouts. We worked with a contract visual designer to help with the final design and implementation.
    </p>
    
    <h3>The Result</h3>
    <p>
      The final version was well received by SecondMarket stakeholders, and has lead to a noticeable increase in quality leads.
      After release we also did another round of user testing and noticed that users had a much better understanding of what SecondMarket
      does after reviewing the site.
    </p>

    <hr class="space">

    <%= image_tag "homepage-wireframe.png", class: "img-responsive" %>
    <hr class="space">
    <%= image_tag 'homepage-final.png', class: "img-responsive" %>

    <h2>Key Takeaways</h2>
    <hr class="space">
    <ul>
      <li>
        <strong>Important to decide upon goals and success metrics upfront with all key stakeholders</strong>
        <p>
          Bringing all the key stakeholders together to discuss this upfront was a key factor in the design process.
        </p>
      </li>

      <li>
        <strong>Copy can quickly get stale</strong>
        <p>
          Need to make sure that copy stays accurate so that potential users can understand what the company does.
        </p>
      </li>

      <li>
        <strong>Remote usability testing is a great tool to get feedback quickly</strong>
        <p>
          By using <%= link_to "usertesting.com", "http://www.usertesting.com" %> we were able to get valuable feedback 
          from a lot of people very quickly without the time-consuming process of recruiting ourselves.
        </p>
      </li>
    </ul>

  </div>
</div>