<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>Statusphere</h1>
    <p class="spall">Colorful orbs to display your status in a coffee shop</p>
    
    <hr class="space">
    <iframe class="video" src="http://player.vimeo.com/video/41453519?title=0&amp;byline=0&amp;portrait=0" frameborder="0"></iframe>
    
    <hr class="space">

    <h2>Selected Process</h2>
    <h3>Researching Coffee Shops</h3>
    <p>
      Our goal for the project was to investigate future interactions in coffee shops leveraging ubiquitous computing. 
      We started off by going to several different coffee shops in Pittsburgh and interviewing people who were there, gathering
      information about normal coffee shop interactions. We took all of that information and 
      synthesized it using an affinity diagram.
    </p>
    
    <hr class="space">
    <%= image_tag "statusphere-synthesis.jpg", class: "img-responsive" %>
    <hr class="space">

    <h3>Disruptive Brainstorming to Generate Ideas</h3>
    <p>
      We took all the information that we got from the research and used a technique that we called "Disruptive Brainstorming" 
      to come up with a lot of different ideas. We started off with our assumptions of what a coffee shop should have, such as seating 
      and a barista, and came up with ideas that would specifically go against our assumptions. For example, instead of having seats 
      maybe the coffee shop could be a place where you could get a massage. 
      Some of these ideas obviously wouldn't work, but it was a very helpful (and fun) tool to generate a lot of ideas in a short period of time.
    </p>
    
    <hr class="space">
    <%= image_tag "statusphere-brainstorming.jpg", class: "img-responsive" %>
    <hr class="space">

    <h3>Speed Dating</h3>
    <p>
      We narrowed down to 10-12 different ideas and needed a way to test which ones people liked the best. 
      To do this, we created different storyboards to illustrate the ideas in action. We took these storyboards to 
      different coffee shops around Pittsburgh and asked people sitting there what they thought. 
      This process allowed us to narrow down our ideas further.
    </p>

    <%= image_tag "statusphere-speed-dating.png", class: "img-responsive" %>
    <p class="small">Photo Credit: <%= link_to "Joe Medwid", "http://www.joemedwid.com" %></p>

    <h3>Prototyping</h3>
    <p>
      From the speed dating sessions we were able to narrow down to our final idea of having a lamp on your 
      coffee shop table to show your current status, we wanted to make a quick prototype to see the scale we were looking for. 
      We created the prototype using a ruler, an elastic band, and a stuffed animal (all conveniently available at the MHCI lab).
    </p>
    
    <hr class="space">
    <div id="statusphere-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#statusphere-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#statusphere-carousel" data-slide-to="1"></li>
        <li data-target="#statusphere-carousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag "statusphere-initial-sketch.jpg" %>
        </div>
        <div class="item">
          <%= image_tag "statusphere-prototype.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "statusphere-final.jpg" %>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#statusphere-carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#statusphere-carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
    
    <hr class="space">

    <h3>The Result</h3>
    <p>The final deliverable was the video sketch (above) explaining how the product would work.</p>



    <hr class="space">
    <div class="small">
      <h5><strong>Project Details</strong></h5>
      <div>Date: Spring 2012</div>
      <div>Class: Interaction Design Studio</div>
      <div>Team: Rajat Agrawal, Joe Medwid</div>
      <div>Skills: Ubiquitous Computing, User Research, Personas, Speed Dating, Interaction Design, Wireframing </div>
    </div>

  </div>
</div>