<hr class="space">
<footer class="container">
  <hr>
  
  <div class="pull-left">
    <span class="small">Designed and built in Rails by Jordy Zagdanski, 2014</span>
  </div>

  <div class="pull-right">

    <%= mail_to "jayzed@gmail.com" do %>
      <%= fa_stacked_icon "envelope inverse", base: "circle" %>
    <% end %>

    <%= link_to "http://www.linkedin.com/profile/view?id=143149437" do %>
      <%= fa_stacked_icon "linkedin inverse", base: "circle" %> 
    <% end %>

    <%= link_to "https://github.com/jayzed", target: "_blank" do %>
      <%= fa_stacked_icon "github inverse", base: "circle" %> 
    <% end %>

  </div>
</footer>
