<hr class="space">
<footer class="container">
  <hr>
  
  <div class="pull-left">
    <span class="small">Designed and built in Rails by Jordy Zagdanski, 2014</span>
  </div>

  <div class="pull-right">

    <%= mail_to "jayzed@gmail.com" do %>
      <%= fa_stacked_icon "envelope inverse", base: "circle" %>
    <% end %>

    <%= link_to "http://www.linkedin.com/profile/view?id=143149437" do %>
      <%= fa_stacked_icon "linkedin inverse", base: "circle" %> 
    <% end %>

    <%= link_to "https://github.com/jayzed", target: "_blank" do %>
      <%= fa_stacked_icon "github inverse", base: "circle" %> 
    <% end %>

  </div>
</footer>

<% if Rails.env.production? %>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-31280658-1', 'jordyzagdanski.com');
  ga('send', 'pageview');

  </script>
<% end %>
