<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "JORDY ZAGDANSKI", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">

      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= active?(root_path) %>">
          <%= link_to "Work", root_path %>
        </li>
        <li class="<%= active?(about_path) %>">
          <%= link_to "About", about_path %>
        </li>
        <li class="<%= active?(resume_path) %>">
          <%= link_to "Resume", resume_path %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
    <hr>
  </div><!-- /.container -->
</nav>
